<div class="container">
  <div class="tab"></div>
  <div class="tab"></div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="loginForm" action="">
    <div class="inputs">
      <input type="email" formControlName="email" required name="email" placeholder="Email" [ngClass]="{'error': submitted && this.userForm.controls.email.errors}">
      <input type="password" formControlName="password" required name="password" placeholder="Password" [ngClass]="{'error': submitted && this.userForm.controls.password.errors}">
    </div>
    <button class="submit" type="submit" [disabled]="userForm.pristine">login</button>
  </form>
</div>
