.colorPicker-container {
  width: 100%;
  display: flex;
  background-color: transparent;
}

.color {
  margin: 5px;
  border: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0px 1px rgba(0,0,0,.24)
}

.color.selected {
  border: 1px solid rgba(128,21,21,.8)
}