.NotesEditor {
  padding: 10px;
  width: 500px;
  margin: 10px auto;
  background-color: #ffffff;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.NotesEditor .noteTitleInput {
  outline: none;
  margin: auto;
  margin-bottom: 5px;
  width: 100%;
  line-height: 2;
  border: none;
  text-indent: 10px;
  font-family: Arial, Helvetica, sans-serif;  
  padding: 0;
  font-size: 13px;
}

.NotesEditor .noteTextInput {
  outline: none;  
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid rgba(128, 21, 21, 0.8);
  resize: none;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.NotesEditor__footer {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.NotesEditor__footer .addNoteBtn {
  float: right;
  cursor: pointer;
  color: #ffffff;
  background-color: #40b3a2;
  padding: 10px 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.addNoteBtn:hover {
  opacity: 0.9;
}

.addNoteBtn:active {
  opacity: 0.9;
  transform: scale(0.97)
}
