.noteItem {
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);  
}

.noteText {
  border-top: 1px solid rgba(128, 21, 21, 0.8);
  padding-top: 10px;
}

.noteTitle {
  display: inline-block;
  margin-bottom: 5px;
}

.deleteNote {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  line-height: 2;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
}

.deleteNote:hover {
  color: red;
  cursor: pointer;
}

.noteItem:hover .deleteNote {
  display: inline-block;
}