.container {
  margin: auto;
  justify-content: center;
  display: flex;
  min-width: 400px;
  flex-wrap: wrap;
}

.userContainer {
  width: 100%;
  padding-right: 10px;
}

.userEmail {
  float: right;
}