<div class="container">
  <div class="column">
    <div class="column__title">Column 1 title</div>
    <div class="cards"  (dragover)="dragOver($event)" (drop)="drop($event)" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)">
      <div *ngFor="let note of notes, let i = index" id="{{i}}" class="item" 
      draggable="true" 
      (dragstart)="dragStart($event)"
      [style.background-color]="note.color">
          <span class="deleteNote" (click)="deleteNote(note)">&#10006;</span>
          <div class="item-title">{{note.title}}</div>
          <div class="item-text">{{note.text}}</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="column__title">Column 2 title</div>
    <div class="cards" (dragover)="dragOver($event)" (drop)="drop($event)" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)">

    </div>
  </div>

  <div class="item placeholder"></div>
</div>