.container {
  margin: auto;
  justify-content: center;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
}

.column {
  width: 40%;
  min-height: 400px;
}

.cards {
  margin: 10px;
  min-height: 400px;  
}

.item {
  user-select: none;
  border-radius: 5px;
  width: 200px;
  position: relative;
  margin: 20px;
  margin-bottom: 0;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.24)
}

.item:hover .deleteNote {
  display: block;
}

.item-title {
  cursor: move;
}

.item-text {
  border-top: 1px solid rgba(128,21,21,.8);
  padding-top: 5px;
  cursor: text;
}

.deleteNote {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: red;
  font-size: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.5;
  outline: none;
}

.deleteNote:active {
  color: black
}

/* .dragging {
  opacity: 0.5;
} */

.placeholder {
  display: none;
  background: gray;
}